
#tabbed_box {
    margin: 0px auto 50px auto;
}

.innhold {

}
#innhold_2, #innhold_3 { display:none; }

#burger-header {
    background: url(img/nemean_burgers_small.png);
    height: 166px;
    width: 500px;
    margin: 0 auto;
}

.clear{
    clear:both;
}

#main-container{
    width:700px;
    margin:20px auto;
}

.container{
    margin-bottom:40px;
}

.top-label{

    display:inline-block;
    margin-left:20px;
    position:relative;
    margin-bottom:-15px;
    width: 800px;
}

.label-txt{
    display:inline-block;
    font-size:10px;
    height:36px;
    margin-left:5px;
    padding:12px 15px 0 5px;
    text-transform:uppercase;

}


.content-area{
    padding:15px 20px 0 20px;
}

.content{
    padding:10px;
}

.drag-desired{
    margin: -9px;
}

.drop-here{
    margin: -9px;
}


.bottom-container-border{

    height:14px;
}

.product{
    border:2px solid #F5F5F5;
    float:left;
    margin:15px;
    padding:10px;
    width: 70px;
}

.product img{
    cursor:move;
}

p.descr{
    padding:5px 0;
}

small{
    display:block;
    margin-top:4px;
}

.tooltip{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 200px;
    padding: 10px;

    background-color:#666666;
    border:1px solid #666666;
    color:#fcfcfc;


    -moz-border-radius:12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius:12px;
}

#cart-icon{
    width:128px;
    float:left;
    position:relative;
}

#ajax-loader{
    position:absolute;
    top:0px;
    left:0px;
    visibility:hidden;
}

#item-list{
    float:left;
    width:490px;
    margin-left:20px;
    padding-top:15px;
}

a.remove,a.remove:visited{
    color:red;
    font-size:10px;
    text-transform:uppercase;
}

#total{
    clear:both;
    float:right;
    font-size:12px;
    font-weight:bold;
    padding:10px 12px;
    text-transform:uppercase;
    width: 100px;
}

#item-list table{
    background-color:#F7F7F7;
    border:1px solid #EFEFEF;
    margin-top:5px;
    padding:4px;
}

a.button,a.button:visited{
    display:none;

    height:29px;
    width:90px;

    padding-top:15px;
    margin:0 auto;
    overflow:hidden;

    color: white;

    font-size:12px;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;

    background:url(img/greenbutton.png) no-repeat center top;
    background-position:bottom;
}


a.button:hover{
    background-position:bottom;
    text-decoration:none;
}


a, a:visited {
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

h1{
    font-size:28px;
    font-weight:bold;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
    font-weight:normal;
    font-size:20px;

    color:#666666;
    text-indent:30px;
    margin:20px 0;
}

.tutorialzine h1{
    color:white;
    margin-bottom:10px;
    font-size:48px;
}

.tutorialzine h3{
    color:#F5F5F5;
    font-size:10px;
    font-weight:bold;
    margin-bottom:30px;
    text-transform:uppercase;
}


a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

#mask {
    position:fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:fixed;
    width:440px;
    height:200px;
    top: 40%;
    left: 50%;
    margin-left: -220px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes #dialog {
    width:375px;
    height:203px;
    padding:10px;
    background-color:#ffffff;
}


#boxes #dialog1 {
    background:url(img/notice.png) no-repeat 0 0 transparent;
    width:326px;
    height:229px;
    padding:50px 0 20px 25px;
}

#boxes #dialog2 {
    background:url(img/notice.png) no-repeat 0 0 transparent;
    width:326px;
    height:229px;
    padding:50px 0 20px 25px;
}

#innholdsbox1
{

    width:              500px;
    font-family:        'Verdana';
    margin:             0 auto;
    background-repeat:  repeat-x;
    position:           relative;
    border:             solid 1px;
    border-color:       #C4C4C4;
    margin-bottom: 20px;
    padding: 15px;
}

#innholdsbox1:hover
{
    background-color: #FCFCFC;
    border-color:       #838383;
}

#innholdsbox2
{

    width:              500px;
    font-family:        'Verdana';
    margin:             0 auto;
    background-repeat:  repeat-x;
    position:           relative;
    border:             solid 1px;
    border-color:       #C4C4C4;
    margin-bottom: 20px;
    padding: 15px;
}

#innholdsbox2:hover
{
    background-color: #FCFCFC;
    border-color:       #838383;
}
