
* {padding: 0; margin: 0;}

body
{
    font-family: "Verdana, Arial, ans-serif";
    font-size: 12px;
}

li
{
    list-style-type: none;
    margin-bottom: 5px;
}



/** Login site closed */

li label
{
    font-weight: bold;
    float: left;
    width: 55px;
    display: block;
}

li input
{
    margin-left: 30px;
    width: 150px;
    padding-left: 5px;
    font-size: 0.8em;
    background-image: -moz-linear-gradient(rgba(212,248,163, 0.9), rgba(255,255,255,0.9));
    background-image: -webkit-gradient(linear, left top, left bottom,from(rgba(213,248,163,0.9)), to(rgba(255,255,255,0.9)));
    background: -ms-linear-gradient(top, #d9f9ac 0%, #ffffff 100%);
    background: -o-linear-gradient(rgba(212,248,163, 0.9),rgba(255,255,255,0.9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9f9ac', endColorstr='#ffffff');

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

li input[type=submit]
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 60px;
    cursor: pointer;
}

#centerDiv
{
    height: 150px;
    margin: 20% auto;
    width: 300px;
}

#centerDiv p
{
    font-size: 11px;
    padding-top: 10px;
    text-align: center;
}

#clContent
{
    border: 1px solid #94bf35;
    padding: 20px;
    height: 100px;
    position: relative;

    background: -moz-linear-gradient(top, #c0ec4e, #8ac80c);
    background: -webkit-gradient(linear, left top, left bottom, from(#c0ec4e), to(#8ac80c));
    background: -ms-linear-gradient(top, #c0ec4e 0%, #8ac80c 100%);
    background: -o-linear-gradient(rgb(192,236,78),rgb(138,200,12));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c0ec4e', endColorstr='#8ac80c');

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#clContent a:hover
{
    cursor: default;
}

#clContent p
{
    text-align: left;
    font-size: 11px;
    padding-bottom: 5px;
    padding-top: 0px;
}

#clContent img
{
    position: absolute;
    right: 30px;
    bottom: 50px;
    border: none;
}

.legendTitle
{
    padding-left: 10px;
}


/* Ex css */

#exContainer
{
    background-color: #FFBABA;
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    min-height: 100px;
    overflow: auto;
}

.exLI
{
    list-style-type: none;
}

.exLI label
{
    display: block;
    width: 100px;
    float: left;
    font-weight: bold;
}

.exLI span
{
    float: left;
    width: 290px;
}