.nSlide {

    width: 100%;
    background: gray;
    color: white;
}

.nSlide .title {
    font-size: 50px;
    margin: 50px;
}

.nSlide .content {
    font-size: 35px;
}

 .header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header img{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.reveal {
    display: block;
}

footer
{

}

#sponsorer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align:center;
}

#sponsorer a{
    padding-left: 15px;
}

hr{
    color: lightgray;
}