/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    height: 350px;
    margin: 0;
    z-index: 1;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    height: 350px;
    z-index: 1;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    height: 350px;
    z-index: 1;
}

.rslides li h3 {
     z-index:100;
    position:absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: black;
    opacity: 0.8;
    font-size: 2em;
    text-align: center;
}

#naver {
    position: relative;
    bottom: 100px;
    width: 100%;
    z-index: 110;
}

#naver a {
    color: #fafafa;
    margin: 20px;
}

#naver a:hover {
    
    color: #73cd07;
}


#naver .prev {
    position: absolute;
    left: 10px;
    
    margin-left: 10px;
}

#naver .next {
    position: absolute;
    right: 10px;
    margin-right: 10px;
}


