
body {font-family: Verdana, Geneva, sans-serif;}

h1, h2, h3, h4, h5, h6
{
    color: #769f21;
    font-family: Verdana;
    font-weight: 500;
    padding: 10px 0px;
}

a:link      {text-decoration: none;}
a:visited   {text-decoration: none;}
a:hover     {text-decoration: none;}
a:active    {text-decoration: none; color: #3F3}

.wrapper
{
    position: relative;
    width: 811px;
}

header
{
    background-image: url("../../../img/design/header.png");
    height: 242px;
    position: relative;
}

#topmenu
{
    height: 30px;
    display: inline-block;
    width: 100%;
    border: 1px solid #94bf35;
    background: -moz-linear-gradient(top, #c0ec4e, #8ac80c);
    background: -webkit-gradient(linear, left top, left bottom, from(#c0ec4e), to(#8ac80c));
    background: -ms-linear-gradient(top, #c0ec4e 0%, #8ac80c 100%);
    background: -o-linear-gradient(rgb(192,236,78),rgb(138,200,12));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c0ec4e', endColorstr='#8ac80c');

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}

#topmenu li
{
    display: inline;
}

nav li a
{
    padding-left: 8px;
    padding-top: 5px;
}

nav li a:link, nav a:visited
{
    color:#fff;
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

nav li a:hover, nav li a:active
{
    color: #587f09;
}

#content
{
    display: table;
    background: transparent url(../../../img/design/bg_new.png) no-repeat;
    min-height: 200px;
    height: 100%;
}

#sidebar
{
    padding: 5px 10px;
    display: table-cell;
    width: 175px;
    opacity: 0.9;
    background: -moz-linear-gradient(rgba(212,248,163, 0.9), rgba(255,255,255,0.9));
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(213,248,163,0.9)), to(rgba(255,255,255,0.9)));
    background: -ms-linear-gradient(top, #d9f9ac 0%, #ffffff 100%);
    background: -o-linear-gradient(rgb(192,236,78),rgb(138,200,12));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9f9ac', endColorstr='#ffffff');
    float: left;
    border: 1px solid #94bf35;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#sidebar li
{
    list-style-type: none;
    padding-bottom: 5px;
    font-size: 12px;
}

#sidebar li a:hover
{
    color: black;
}

#sidebar li a
{
    color: #515151;
}

#sidebar li a:active
{
    color: #000000;
}

#main
{
    padding: 15px;
    width: 570px;
    min-height: 200px;
    height: 100%;
    opacity: 0.9;
    background: -moz-linear-gradient(rgba(212,248,163, 0.9), rgba(255,255,255,0.9));
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(213,248,163,0.9)), to(rgba(255,255,255,0.9)));
    background: -ms-linear-gradient(top, #d9f9ac 0%, #ffffff 100%);
    background: -o-linear-gradient(rgba(212,248,163, 0.9),rgba(255,255,255,0.9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9f9ac', endColorstr='#ffffff');
    float: right;
    margin-bottom: 20px;
    border: 1px solid #94bf35;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#secondary
{
    padding: 15px;
    width: 570px;
    min-height: 100px;
    height: 100%;
    opacity: 0.9;
    background: -moz-linear-gradient(rgba(212,248,163, 0.9), rgba(255,255,255,0.9));
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(213,248,163,0.9)), to(rgba(255,255,255,0.9)));
    background: -ms-linear-gradient(top, #d9f9ac 0%, #ffffff 100%);
    background: -o-linear-gradient(rgba(212,248,163, 0.9),rgba(255,255,255,0.9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9f9ac', endColorstr='#ffffff');
    float: right;
    margin-bottom: 20px;
    border: 1px solid #94bf35;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#secondary:hover
{
    border: solid 1px black;
}

#list
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 570px;
    min-height: 15px;
    height: 100%;
    opacity: 0.9;
    background: -moz-linear-gradient(rgba(212,248,163, 0.9), rgba(255,255,255,0.9));
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(213,248,163,0.9)), to(rgba(255,255,255,0.9)));
    background: -ms-linear-gradient(top, #d9f9ac 0%, #ffffff 100%);
    background: -o-linear-gradient(rgba(212,248,163, 0.9),rgba(255,255,255,0.9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9f9ac', endColorstr='#ffffff');
    float: right;
    margin-bottom: 10px;
    border: 1px solid #94bf35;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#list:hover
{
    border: solid 1px black;
}

footer
{
    position: relative;
    width: 811px;
    margin: 0px auto;
    text-align:center;
    border: 1px solid #94bf35;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    font-size: .8em;
    color:#fff;

    background: -moz-linear-gradient(top, #c0ec4e, #8ac80c);
    background: -webkit-gradient(linear, left top, left bottom, from(#c0ec4e), to(#8ac80c));
    background: -ms-linear-gradient(top, #c0ec4e 0%, #8ac80c 100%);
    background: -o-linear-gradient(rgb(192,236,78),rgb(138,200,12));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c0ec4e', endColorstr='#8ac80c');

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.lBtn
{
    background: -moz-linear-gradient(#f3e350, #e2950b);
    background: -webkit-gradient(linear, left top, left bottom,from(#f3e350), to(#e2950b));
    background: -ms-linear-gradient(top, #f3e350 0%, #e2950b 100%);
    background: -o-linear-gradient(#f3e350,#e2950b);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#f3e350', endColorstr='#e2950b');

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}

nav a span
{
    background: -webkit-gradient(linear, left top, left bottom,from( #c0ec4e), to(#8ac80c));
    backgrounde: -moz-linear-gradient( #c0ec4e, #8ac80c);
    background: -ms-linear-gradient(top,  #c0ec4e 0%, #8ac80c 100%);
    background: -o-linear-gradient( #c0ec4e,#8ac80c);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#c0ec4e', endColorstr='#8ac80c');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
}

#simplereg form
{
    padding-top: 10px;
}

#simplereg form fieldset
{
    border: 1px solid black;
}

#simplereg form legend
{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#simplereg li
{
    list-style-type: none;
    display: block;
    padding: 5px;
}

#simplereg li label
{
    display: inline-block;
    width: 180px;
}

#qRegister, #notify, #forgotPsw, #loginBox, #completereg, #reserveSeat, #removeRsv
{
    display: none;
    position: absolute;
    width: 380px;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    z-index: 2000;
    font-size: 10px;
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(234,241,215, 0.9)), to(rgba(187,198,166,0.9)));
    background: -moz-linear-gradient(rgba(234,241,215, 0.9), rgba(187,198,166,0.9));
    background: -ms-linear-gradient(top, rgba(234,241,215, 0.9) 0%, rgba(187,198,166,0.9) 100%);
    background: -o-linear-gradient( rgba(234,241,215, 0.9),rgba(187,198,166,0.9));
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 25px 3px 5px rgba(0,0,0,.2);
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border: 2px solid #94BF35;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#applicationForm
{
    display: none;
    position: absolute;
    width: 600px;
    height: 520px;
    top: 20%;
    left: 50%;
    margin-left: -300px;
    z-index: 1000;
    font-size: 10px;
    background: -webkit-gradient(linear, left top, left bottom,from(rgba(234,241,215, 0.9)), to(rgba(187,198,166,0.9)));
    background: -moz-linear-gradient(rgba(234,241,215, 0.9), rgba(187,198,166,0.9));
    background: -ms-linear-gradient(top, rgba(234,241,215, 0.9) 0%, rgba(187,198,166,0.9) 100%);
    background: -o-linear-gradient( rgba(234,241,215, 0.9),rgba(187,198,166,0.9));
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 25px 3px 5px rgba(0,0,0,.2);
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border: 2px solid #94BF35;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;

}

#applicationForm form
{
    width: 560px;
    height: 500px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
}

#applicationForm form li
{
    list-style-type: none;
    padding: 5px 0;
    padding-left: 20px;

}
#applicationForm form label
{
    width: 200px;
    font-size: 11px;
    font-weight: bold;
    color: #4b4b4b;
}

#applicationForm  input
 {
     margin-right: 20px;
     float: right;
    width: 50%;

 }

#applicationForm textarea
{
    margin-right: 0px;
    padding: 10px;
    width: 92%;

}


#terms
{
    padding: 10px;
    margin-top: 10px;
    overflow: auto;
    height: 100px;
    background: white;

    list-style: disc;
}

#terms ul
{
    padding: 5px;
}


#notify p
{
    margin: 0 auto;
    padding: 10px;
}

#qRegister form, #forgotPsw form, #loginBox form, #completereg form, #reserveSeat form, #removeRsv form
{
    width: 310px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
}

#qRegister form h4, #forgotPsw form h4, #loginBox form h4, #completereg form h4, #reserveSeat form h4, #removeRsv form h4, #applicationForm form h4
{
    color: #769F21;
    font-size: 16px;
    font-weight: bold;
}

#qRegister form li, #forgotPsw form li, #loginBox form li, #completereg form li, #reserveSeat form li, #removeRsv form li
{
    list-style-type: none;
    padding: 5px 0;
    height: 15px;
}

#qRegister form label, #forgotPsw form label, #loginBox form label, #completereg form label, #reserveSeat form label, #removeRsv label
{
    width: 200px;
    font-size: 11px;
    font-weight: bold;
    color: #4b4b4b;
}

#qRegister form input, #loginBox form input, #completereg form input
{
    margin-left: 15px;
    float: right;
    width: 40%;
}

#forgotPsw form input, #reserveSeat form input, #removeRsv form input
{
    margin-left: 15px;
    float: right;
    width: 70%;
}

#qRegister form input[type=submit], #forgotPsw form input[type=submit], #loginBox form input[type=submit], #completereg form input[type=submit], #reserveSeat form input[type=submit], #removeRsv form input[type=submit]
{
    width: 80px;
    float: right;
}

form input[type=submit]
{
    border: 1px solid rgb(144, 144, 144);
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom,from(rgb(237, 237, 237)), to(rgb(201, 201, 201)));
    padding: 2px;
    font-size: 12px;
    color: #6b6b6b;
    font-weight: bold;
}

form input[type=submit]:hover
{
    border: 1px solid rgb(144, 144, 144);
    background: -webkit-gradient(linear, left top, left bottom,from(rgb(230, 230, 230)), to(rgb(212, 212, 212)));
    padding: 2px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#notifyClose
{
    float: right;
    margin: 5px;
}

.X
{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    color: #868686;
    font-weight: bold;
}

.X:hover
{
    text-decoration: none;
    color: #d1d1d1;
}

form li .hidden
{
    display: none;
    position: absolute;
    right: 10px;
    background-image: url("../../../img/orbred.png");
    width: 30px;
    height: 30px;
}

.loader
{
    display: none;
    position: absolute;
    left: 5px;
    bottom: 15px;
}

#siteinfo
{
    font-size: 12px;
}

