
body {font-family: Verdana, Geneva, sans-serif;}

.wrapper
{
    position: relative;
    width: 811px;
}

h1, h2, h3, h4, h5, h6
{
    color: #769f21;
    font-weight: 500;
    padding: 10px 30px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none; color:#3F3}
a:hover {text-decoration: none;}

header
{
    background-image: url("../resources/site/img/design/header_new.png");
    height: 242px;
}

#topmenu
{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 30px;
    padding: 2px;
    border: 1px solid #94bf35;


    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    -pie-background: linear-gradient(#c0ec4e, #8ac80c);
    border-radius: 3px;
    behavior: url(PIE.htc);
}

#topmenu li
{
    list-style-type: none;
    float: left;
}

nav li a
{
    padding-left: 10px;
    padding-top: 5px;
}

nav li a:link, nav a:visited
{
    color:#fff;
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
}

nav li a:hover, nav li a:active
{
    color: #587f09;
}

#content
{
    display: table;
    background: transparent url(../resources/site/img/design/bg_new.png) no-repeat;
    overflow: hidden;
    min-height: 200px;
    height: 100%;
}

#sidebar
{
    padding: 5px 10px;
    display: table-cell;
    float: left;
    width: 175px;
    border: 1px solid #94bf35;
    background-color: #d9f9AC;
    filter: alpha(opacity=80);
    border-radius: 5px;
    behavior: url(PIE.htc);
    z-index: 10;
    position: relative;
}

#sidebar li
{
    list-style-type: none;
}

#main
{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 570px;
    float: right;
    min-height: 200px;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #94bf35;
    background-color: #d9f9AC;
    filter: alpha(opacity=80);
    border-radius: 5px;
    behavior: url(PIE.htc);
    z-index: 10;
}

footer
{
    position: relative;
    margin: 0px auto;
    width: 811px;
    font-size: .8em;
    color:#fff;
    text-align:center;
    border: 1px solid #94bf35;
    -pie-background: linear-gradient(#c0ec4e, #8ac80c);

    border-radius: 4px 4px 0px 0px;
    behavior: url(PIE.htc);
}

.lBtn
{
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    -pie-background: linear-gradient(#f3e350, #e2950b);

    border-radius: 4px;
    behavior: url(PIE.htc);
}

nav a span
{
    position: absolute;
    zoom: 1;
    -pie-background: linear-gradient(#c0ec4e, #8ac80c);
    border-radius: 5px;
    behavior: url(PIE.htc);
}

#qRegister, #notify, #forgotPsw, #loginPopUp
{
    display: none;
    position: absolute;
    width: 380px;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    padding: 10px;

    border: 5px solid gray;
    background-color: #C3C3C3;
}

* html a:hover
{
    background: transparent;
}